#include <stdio.h>
#include <stdlib.h>
#include <stdio.h>
#include <time.h>
int main(){

  int i,j,s,temp,a[1000];

  printf("dizi sayisini giriniz ");
  scanf("%d",&s);

  srand(time(NULL));
  for(i=0;i<s;i++)
      a[i]=rand()%1000;

  for(i=1;i<s;i++){
      temp=a[i];
      j=i-1;
      while((temp<a[j])&&(j>=0)){
      a[j+1]=a[j];
          j=j-1;
      }
      a[j+1]=temp;
  }

  printf("dizinin siralanmis hali \n");
  for(i=0;i<s;i++)
      printf(" %d",a[i]);
      printf("\n");
  return 0;
}

